@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body{
    background-color:#0e0e0e;
    font-family: 'Roboto', sans-serif;
    color: #ffffff88;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  #f1f1f1;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #c7ce00;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #0e0e0e, #737373, #0e0e0e);
  }

h1, h2, h3, .heading {
font-family: 'Montserrat', sans-serif;
color: #c7ce00;
}

/* nav animation */

.linksContainer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: #c7ce00;
    box-shadow: 0px 0px 10px #c7ce00;
}

@keyframes linepass {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

.linksContainer a:hover::after {
    animation-name: linepass;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* hero Section design */

.imagedesign{
    position: relative;
    overflow: hidden;
}

.imagedesign::before{
    content: '';
    position: absolute;
    left: -6.1rem;
    top:50%;
    transform: translateY(-50%) rotate(15deg);
    background: #0e0e0e;
    width: 40%;
    height: 140%;
    box-shadow: 0 0 20px #0e0e0e;
}

/* typewriter */

.typewriter{
    display: flex;
    justify-content: center;
}

.typewriter p{
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #c7ce00;
    animation: typing 3s steps(22) forwards,
    blink 1s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

/*  buttonShadow */
.boxShadow:hover{
    box-shadow: 0px 0px 10px #c7ce00;
}

/* BottomShadow */
.BottomShadow{
    box-shadow: 0px 30px 30px #0404046d;
}

/* skillCard */

.skillCard{
    transition: all 0.2s ease-in;
    filter: saturate(200%);
    animation: skillCardAnimation both linear;
    animation-timeline: view(45% 35%);

}

@keyframes skillCardAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.skillCard:hover {
    background-color: #ffffff13;
    filter: saturate(200%);
    box-shadow: 4px 4px 20px #0000001a;
    transform: scale(1.05);
}

/* animation on scrolling */

@keyframes appear {
    0%{
        opacity:0;
        scale: 0.8;
    }
    50%{
        opacity: 1;
        scale: 1;
    }
}

.blockBox {
    animation: appear both linear;
    animation-timeline: view(30% 10%);
}


.sectionHeading{
    animation: sectionHead both linear;
    animation-timeline: view(40% 20%);
}

@keyframes sectionHead {
    from{
        margin-left: 50%;
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}

.SideImage, .SidePara{
    animation: movedRight both linear;
    animation-timeline: view(90% 10%);
}

@keyframes movedRight {
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}



/* skill Heading  */

.skillHeading{
    color:#eeff00;
    animation: movedFromBottom both linear;
    animation-timeline: view(45% 35%);
}

@keyframes movedFromBottom {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

footer{
    background: linear-gradient(to right, #0e0e0e, #c7ce00 , #0e0e0e );
}



